<div class="login-container">
    <h2 class="login-title">Iniciar Sesión</h2>
    <div class="form-group">
      <input 
        type="email" 
        [(ngModel)]="email" 
        placeholder="Ingresa tu correo"
        class="form-control"
      >
    </div>
    <div class="button-group">
      <button class="btn login-btn" (click)="onLogin()">Login</button>
      <button class="btn home-btn" (click)="goToHome()">Ir a Home</button>
    </div>
  </div>

  <div class="layered-text">
	<p>It's just a matter of</p>
	<p class="shadow">WELL COME</p>
</div>